table{

    border-collapse: collapse;
    text-align: center;
}

td, th{

    border: 2px solid royalblue;
    height: 50px;
    width: 200px;
}

th{
    background-color: lavender;
}

td{
    background-color: whitesmoke;
}